name: Deploy to production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: false # Disable default submodule handling
          fetch-depth: 0

      - name: Authenticate to GitHub
        run: |
          git config --global url."https://${{ secrets.GH_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git submodule sync
          git submodule update --init --recursive
          git submodule status

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        env:
          VITE_SANITY_PROJECT_ID: ${{ secrets.VITE_SANITY_PROJECT_ID }}
          VITE_SANITY_DATASET: ${{ secrets.VITE_SANITY_DATASET }}
          VITE_GOOGLE_APPLICATION_FORM: ${{ secrets.VITE_GOOGLE_APPLICATION_FORM}}

        run: npm run build

      - name: List build output
        run: ls dist

      - name: Deploy to Production using FTP-Deploy-Action from local repo
        uses: ./.github/workflows/actions
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: dist/
          server-dir: /
